* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  display: flex;
  justify-content: center;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  padding: 15px;
  width: 40vh;
  height: 50vh;
  background-color: #1f2c33;
  border: none;
}

section {
  align-items: center;
}

h1 {
  color: white;
}

.button-section button {
  background-color: #3ab479;
  color: white;
  padding: 30px 10px;
  min-width: 130px;
  border: none;
  cursor: pointer;
}
.button-section button:nth-of-type(1) {
  background-color: #1f2c33;
}
.button-section button:nth-of-type(1):hover {
  background-color: #63e349;
  border-right: 1px solid white;
}

.button-section div {
  display: flex;
  white-space: nowrap;
}
