* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

:root {
  --font-family: "Raleway";
  --header-height: 76px;
  --logo-color: #666;
  --logo-hover-color: #333;
  --menu-color: #333;
  --menu-hover: #337ab7;
}
header {
  font-family: var(--font-family);
  height: var(--header-height);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.174);
}

.logo {
  text-decoration: none;
  color: var(--logo-color);
  font-size: x-large;
}
.logo:hover {
  color: var(--logo-hover-color);
}
nav ul {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  gap: 40px;
}
nav li {
  list-style-type: none;
  font-size: smaller;
}

nav a {
  color: var(--menu-color);
  text-decoration: none;
}
nav a:hover {
  color: var(--menu-hover);
}
