* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Cinzel";
    src: url(../fonts/Cinzel/Cinzel-VariableFont_wght.ttf);
}

h1{
    padding-top: 10px;
    padding-left: 101px;
    font-size: 24px;
    color: #999999;
    font-family: "Cinzel";
}

header{
    height: 50.5px;
    width: auto;
}

.alpen-section {
    background-image: url(../img/e8d5ac023015f19d657c9e7551017974e9863b37.png);
    background-size: cover;
    background-position: center;
    height: 577px;
    position: relative;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Cinzel";
}
.trip-section {
    height: 344px;
    position: relative;
    color: #999999;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.trip-text{
    padding: 50px;
    font-family: "Cinzel";
}
.hotel-text{
    padding: 50px;
}

.triple-alps {
    display: flex;
    height: 208px;
    justify-content: center;
}

.triple-alps img{
    padding: 25px;
    height: 202px;
    width: 360px;
}


.box1{
    height: 365px;
    width: 1440px;
}

.tour{
    text-align: center;
    padding: 30px;
    font-family: "Cinzel";
}

.dates{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    padding-left: 220px;
    font-size: 14px;
    font-weight: 500;
}

ul{
    display: grid;
    gap: 10px;
}

.dates li{
    list-style: none;
}

.so{
    color: red;
}

.av{
    color: green;
}


footer{
    height: 172px;
    width: 1440px;
    text-align: center;
}

.contact{
    font-family: "Cinzel";
    font-size: 24px;
}

.ref{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    font-weight: 800;
}

.darkblue{
    color: blue;
}

.mint{
    color: mediumturquoise;
}

.purple{
    color: purple;
}