.animate {
  position: relative;
  height: 600px;
  width: 600px;
  margin: 20px 20px;
}

.animate div {
  position: absolute;
  top: 0;
  left: 0;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: red;
}

.animate div:nth-of-type(1) {
  animation: move 4s infinite linear;
}

.animate div:nth-of-type(2) {
  animation: move 4s 1s infinite linear;
}

.animate div:nth-of-type(3) {
  animation: move 4s 2s infinite linear;
}

.animate div:nth-of-type(4) {
  animation: move 4s 3s infinite linear;
}

@keyframes move {
  0%,
  100% {
    transform: translate(0, 0);
    background-color: red;
  }
  25% {
    transform: translate(530px, 0);
    background-color: yellow;
  }
  50% {
    transform: translate(530px, 530px);
    background-color: green;
  }
  75% {
    transform: translate(0, 530px);
    background-color: blue;
  }
}
