/*# Einfache Selektoren:*/
p {

}

/* ? Nimmt das letzte Element von der Gruppe */
article ul li:last-child {
    background-color: rebeccapurple;
    color: white;
}

/* ? Nimmt das letzte Element vom jeweiligen Typen. In diesem Fall die h2 */
h2:first-of-type {
    color: blue;
}

/* ? Nimmt ALLE child-elemente die sich auf das Element beziehen! -> eltern-element existiert oefters -> dann werden alle angesprochen */
ul li:nth-of-type(1) {
    color: orange;
}

span {
    
}